body {
    background-color: #29bda9;
    font-family: 'Courier New', Courier, monospace;
}
/* .container {
}
.row {
} */
.col-12 {
    color: #635327;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}
.col-8 {
    color: #5f6903;
    border: 4px dashed rgb(1, 29, 88);
    text-align: center;
    border-right: 0px;
    text-shadow: 1px 1px 2px gray;
}
.col-4 {
    color: #5f6903;
    border: 4px dashed rgb(1, 29, 88);
    text-align: center;
    text-shadow: 1px 1px 2px gray;  
}
.img_size {
    width: 100%;
    background: url(../img/me.jpg) no-repeat center center;
    background-size: 50%;
}
#myButton {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: #06eeff;
    color:#860202;
    font-weight: bold;
}